@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>现在是一个测试项目</h1>
<p>Last week: @DateTime.Now - TimeSpan.FromDays(7)</p><p>Last week this time: @(DateTime.Now - TimeSpan.FromDays(7))</p>
