
@using  FoodWeb.Controllers;
@model Dictionary<string,string>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
<script src="../lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function(){
        console.info(@Model["123"]);
        $('#test').click(function(){
            $.ajax({
                url:"test/test",
                success:function(v){
                    console.info(v);
                }
            })
        });
    })
</script>
    </head>
    <body>
        <button id="test"></button>
    </body>
</html>