@{
    ViewData["Title"] = "Home Page";
}
<script>
    function test()
    {
        $.get('home/test', function (v) { alert(v) });
     }
</script>
<button type="button" onclick="test()">获取天气数据</button>